<br><br>
<br>

<h1 style="text-align: center;">Carreras</h1>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-white">#</th>
        <th scope="col"  class="text-white">Nombre de la Carrera</th>
        <th scope="col"  class="text-white">Clave</th>
        
        <th scope="col"></th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of carreras">
        <th scope="row" class="text-white">{{a.id}}</th>
        <td class="text-white">{{a.nombre}}</td>
        <td class="text-white">{{a.clave}}</td>
        
        <td> <a class="btn btn-success">Ver mas...</a></td>
        <td> <a class="btn btn-danger">Eliminar</a></td>
       

      </tr>
      
    </tbody>
  </table>
  <br>