<br><br>
<br>

<h1 style="text-align: center;">Tipos de publicacion</h1>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-white">#</th>
        <th scope="col"  class="text-white">Campus</th>
        <th scope="col"  class="text-white">Direccion</th>
        
        <th scope="col"></th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of campus">
        <th scope="row" class="text-white">{{a.id}}</th>
        <td class="text-white">{{a.nombre}}</td>
        <td class="text-white">{{a.direccion}}</td>
        
        <td> <a class="btn btn-success">Ver mas...</a></td>
        <td> <a class="btn btn-danger" (click)="deleteCampus(a.id)">Eliminar</a></td>
       

      </tr>
      
    </tbody>
  </table>
  <br>